section.about(id="aboutus")
    .container
        .about-text
            h3 О НАС
            p Компания DASARENT уже 20 лет предоставляет услуги по аренде тяжелой спецтехники. Наша компания готова помочь со строительством дорог, жилих и нежилых объектов. Мы предоставляем нашу технику как на короткосрочной так и на долгосрочной преспективе. Для удобства наших клиентов есть специальные тарифы. Наши водители являются профессионалами своего дело. На первом месте для нашей компании благополучие наших клиентов и их предложений!