section.tech.alltech
        .container
            h2.title._anim-items._anim-no-hide ТЕХНИКА
            .alltech-catalog
                h4.alltech-catalog__title Разделы
                .alltech-catalog-btns
                    a(href="#!" id="all").alltech-catalog-btns__toggle._active-btn Вся техника
                    a(href="#!" id="road").alltech-catalog-btns__toggle Дорожно-строительная техника
                    a(href="#!" id="transfer").alltech-catalog-btns__toggle Техника перевозки
                    a(href="#!" id="build").alltech-catalog-btns__toggle Строительная техника
                    a(href="#!" id="forest").alltech-catalog-btns__toggle Лесная техника
            .alltech-cards
                .alltech-cards__card(data-type="road")
                    a(href="order.html")
                        .alltech-cards__card-img
                            img(src="@img/tech-1.svg", alt="автокран")
                        p.alltech-cards__card-text Автокраны
                .alltech-cards__card(data-type="transfer")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/tech-2.svg", alt="Погрузчик")
                        p.alltech-cards__card-text Погрузчик
                .alltech-cards__card(data-type="build")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/tech-4.svg", alt="Бульдозеры")
                        p.alltech-cards__card-text Бульдозеры
                .alltech-cards__card(data-type="forest")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/Автобетонанасос.svg", alt="Автобетонанасос")
                        p.alltech-cards__card-text Автобетонанасос
                .alltech-cards__card(data-type="road")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/tech-6.svg", alt="Самосвалы")
                        p.alltech-cards__card-text Самосвалы
                .alltech-cards__card(data-type="build")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/tech-7.svg", alt="Дорожный каток")
                        p.alltech-cards__card-text Дорожный каток
                .alltech-cards__card(data-type="forest")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/tech-3.svg", alt="Экскаваторы")
                        p.alltech-cards__card-text Экскаваторы

                .alltech-cards__card(data-type="forest")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/tech-5.svg", alt="Автобетонасмесители")
                        p.alltech-cards__card-text Автобетонасмесители
                .alltech-cards__card(data-type="forest")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/Вилочный погрузчик.svg", alt="Вилочный погрузчик")
                        p.alltech-cards__card-text Вилочный погрузчик
                .alltech-cards__card(data-type="build")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/Тракторы.svg", alt="Тракторы")
                        p.alltech-cards__card-text Тракторы
                .alltech-cards__card(data-type="build")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/Прицепы.svg", alt="Прицепы")
                        p.alltech-cards__card-text Прицепы
                .alltech-cards__card(data-type="road")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/tech-8.svg", alt="Контейнеры")
                        p.alltech-cards__card-text Контейнеры
                .alltech-cards__card(data-type="road")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/tech-8.svg", alt="Контейнеры")
                        p.alltech-cards__card-text Контейнеры
                .alltech-cards__card(data-type="transfer")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/tech-8.svg", alt="Контейнеры")
                        p.alltech-cards__card-text Контейнеры
                .alltech-cards__card(data-type="transfer")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/tech-8.svg", alt="Контейнеры")
                        p.alltech-cards__card-text Контейнеры
                .alltech-cards__card(data-type="transfer")
                    a(href="#")
                        .alltech-cards__card-img
                            img(src="@img/tech-8.svg", alt="Контейнеры")
                        p.alltech-cards__card-text Контейнеры

