main.check-main
     .check-main__inner.container
           .check-main__inner__text
                h3 Оставить заявку на заказ
                p Оставьте свои данные и менеджеры свяжются с вами и проведут консультацию чтобы выбрать нужную вам технику. Или же вы можете позвонить нам по номеру +998 (94) 653 06 55, а так же написать нам на почту.
                form(action="#" method="get").footer-form
                    .check-form__group
                        input(type="text", name="name" placeholder="Имя").sub-form__input.check-form__input
                        input(type="tel", name="phone" id="footer-phone" placeholder="+___ (__) ___-__-__").sub-form__input.mask.check-form__input
                        input(type="email", name="" placeholder="E-mail").sub-form__input.check-form__input
                        button(type="submit" id="check-btn").footer-form__btn.check-form__input Отправить