header.header-another__bg
        .header-another.container
            .header-another__logo
                a(href="index.html")
                    img(src="@img/Logo.svg", alt="Logo")
            nav.header-another__nav
                ul.header-nav__list
                    li
                        a.header-nav__link(href="index.html#aboutus") О НАС
                    li
                        a.header-nav__link(href="alltech.html") ТЕХНИКА
                    li
                        a.header-nav__link(href="#contacts") КОНТАКТЫ
                    li
                        a.header-nav__link(href="index.html#revi") ОТЗЫВЫ
                    li
                        a.header-nav__link(href="tel:+998946530655")
                            i.fa-solid.fa-phone
                            |+998 94 653 06 55