section.order.tech.alltech
    .container
        h4.alltech-chapter Техника
            i.fa-solid.fa-arrow-right
            | Автокраны
            i.fa-solid.fa-arrow-right
            span Автокран XCMG QY100K
        .order-info
            .order-info__main
                .order-info__main-top
                    .order-info__main-top-img
                        img(src="@img/order-cran.svg", alt="Автокран")
                    .order-info__main-top-text
                        h5 Автокран XCMG QY100K
                        p Автокран XCMG QY100K (дорожное шасси) грузоподъемностью 100 т. оснащен мощным двигателем Cummins NTA855-C400. QY100K оборудован безопасными устройствами: автоматический ограничитель момента, ограничитель высоты подъёма. Поворотная система автокрана с функцией свободного скольжения способна автоматически выравнивать нагрузку.На автокране QY100K установлены устройства для применения на плоскогорьях.
                .order-info__main-bottom-char
                    h6 Технические характеристики XCMG QY100K:
                    ul
                        li
                            span Грузоподъемность
                            span 100 тонн
                        li
                            span Способ передвижения
                            span самоходный
                        li
                            span Максимальный вылет стрелы
                            span 48 м (66,1 м с гуськом)
                        li
                            span Тип стрелы
                            span телескопическая
                        li
                            span Частота вращения поворотной части
                            span 2 об/мин
                        li
                            span Тип двигателя
                            span дизельный
                        li
                            span Мощность двигателя
                            span 324 кВт
                        li
                            span Кабина шасси
                            span двуместная
                        li
                            span Решетчатый удлинитель стрелы
                            span 18 м
                        li
                            span Макс. скорость передвижения
                            span 75 км/ч
                        li
                            span Общий вес крана
                            span 58 тонн
                        li
                            span Длина
                            span 15,23 м
                        li
                            span Ширина
                            span 3 м
                        li
                            span Высота в сложенном состоянии
                            span 13,86 м
                        span.total-price 580 000 сум/час
                    a(href="#").order-btn ЗАКАЗАТЬ
            .order-info__similar
                h5 Похожие предложения
                .order-info__similar-cards
                    .order-info__similar-cards__card
                        .order-info__similar-cards__card__inner
                            .order-info__similar-cards__card__inner-img
                                img(src="@img/similar-1.svg", alt="Гусеничный кран")
                            .order-info__similar-cards__card__inner-text
                                span Гусеничный кран Zoomlion ZCC 550 H-1
                                ul
                                    li
                                        small Грузоподъемность
                                        small 55 тонн
                                    li
                                        small Максимальный вылет стрелы
                                        small 13-52 м
                                    li
                                        small Размер гусеницы
                                        small 5850 х 760 х 1100 мм
                                    li
                                        small Масса противовеса
                                        small 17.5 тн
                        a(href="#").order-button Арендовать
                    .order-info__similar-cards__card
                        .order-info__similar-cards__card__inner
                            .order-info__similar-cards__card__inner-img
                                img(src="@img/similar-2.svg", alt="Автокран Ивановец КС-45717K-1")
                            .order-info__similar-cards__card__inner-text
                                span Автокран Ивановец КС-45717K-1
                                ul
                                    li
                                        small Грузоподъемность
                                        small 25 тонн
                                    li
                                        small Максимальный вылет стрелы
                                        small 2,0 - 19,7 м
                                    li
                                        small Длина стрелы
                                        small 9 - 21 м
                                    li
                                        small Высота подъема
                                        small 10,0 - 21,3 м
                        a(href="#").order-button Арендовать
                    .order-info__similar-cards__card
                        .order-info__similar-cards__card__inner
                            .order-info__similar-cards__card__inner-img
                                img(src="@img/similar-3.svg", alt="Автокран Ивановец КС-45717K-1")
                            .order-info__similar-cards__card__inner-text
                                span Автокран Ивановец КС-45717K-1
                                ul
                                    li
                                        small Грузоподъемность
                                        small 16 тонн
                                    li
                                        small Максимальный вылет стрелы
                                        small 18,4 м
                                    li
                                        small Длина стрелы
                                        small 8-18 м
                                    li
                                        small Высота подъема
                                        small 10,0 - 21,3 м
                        a(href="#").order-button Арендовать
