section.qual
    .container
        .qual-block._anim-items._anim-no-hide
            .qual-block__text
                span
                    .span(id="year") 20
                    |лет
                p На рынке спецтехники
            .qual-block__text
                span
                    .span(id="tech") 300
                    |+
                p Техники в автопарке
            .qual-block__text
                span
                    .span(id="clients") 600
                p Довольных клиентов
            .qual-block__text
                span
                    .span(id="perc") 100
                    |%
                p Гарантия работы