sections(id="revi").reviews
    h3 Отзывы наших клиентов

    .swiper

        .swiper-wrapper

            .swiper-slide.swiper__slide
                .swiper__slide-card
                    .swiper__slide-top
                        .swiper__slide-top__img
                            img(src="@img/slide-1.svg", alt="Anton")
                        .swiper__slide-top__text
                            p Антон Михайлов
                            span Директор строительной компании
                    .swiper__slide-bottom
                        p “Компания Dasarent безусловно является лидером рынка и очень профессионально выполняет свою работу. Часто пользуюсь их услугой, они кономят мне время и деньги. Советую всем обращаться компании DASARENT, если хотите выполнить качественную работу.
            .swiper-slide.swiper__slide
                 .swiper__slide-card
                    .swiper__slide-top
                        .swiper__slide-top__img
                            img(src="@img/slide-2.svg", alt="Ахмед Бабаев")
                        .swiper__slide-top__text
                            p Ахмед Бабаев
                            span Частный предприниматель
                    .swiper__slide-bottom
                        p “Хочу отметить что работа выполненная компанией DASARENT превзошла моих ожиданий. Хочу поблагодарить специалистов компании, которые с полуслова поняли мое желание и выделели необходимую спецтехнику. Работа выполнена очень качественно.”
            .swiper-slide.swiper__slide
                 .swiper__slide-card
                    .swiper__slide-top
                        .swiper__slide-top__img
                            img(src="@img/slide-3.svg", alt="Анна Пак")
                        .swiper__slide-top__text
                            p Анна Пак
                            span Менеджер ООО STROIM VMESTE
                    .swiper__slide-bottom
                        p “У компании DASARENT хорошая репутация на рынке что и заставило меня обратиться к ним. Я очень довольна результатом их работы. Цены очень приемлемые и время работы максимально короток. Спасибо компании DASARENT.”


    .slider-btn__left
        i.fa-solid.fa-chevron-left
    .slider-btn__right
        i.fa-solid.fa-chevron-right
        //- .swiper-pagination.slider-btn



        //- .swiper-scrollbar
