section.tech
        .container
            h2.title._anim-items._anim-no-hide ТЕХНИКА
            .tech-cards
                .tech-cards__card._anim-items._anim-no-hide
                    a(href="truck-cranes.html")
                        .tech-cards__card-img
                            img(src="@img/tech-1.svg", alt="автокран")
                        p.tech-cards__card-text Автокраны
                .tech-cards__card._anim-items._anim-no-hide
                    a(href="#")
                        .tech-cards__card-img
                            img(src="@img/tech-2.svg", alt="Погрузчик")
                        p.tech-cards__card-text Погрузчик
                .tech-cards__card._anim-items._anim-no-hide
                    a(href="#")
                        .tech-cards__card-img
                            img(src="@img/tech-3.svg", alt="Экскаваторы")
                        p.tech-cards__card-text Экскаваторы
                .tech-cards__card._anim-items._anim-no-hide
                    a(href="#")
                        .tech-cards__card-img
                            img(src="@img/tech-4.svg", alt="Бульдозеры")
                        p.tech-cards__card-text Бульдозеры
                .tech-cards__card._anim-items._anim-no-hide
                    a(href="#")
                        .tech-cards__card-img
                            img(src="@img/tech-5.svg", alt="Автобетонасмесители")
                        p.tech-cards__card-text Автобетонасмесители
                .tech-cards__card._anim-items._anim-no-hide
                    a(href="#")
                        .tech-cards__card-img
                            img(src="@img/tech-6.svg", alt="Самосвалы")
                        p.tech-cards__card-text Самосвалы
                .tech-cards__card._anim-items._anim-no-hide
                    a(href="#")
                        .tech-cards__card-img
                            img(src="@img/tech-7.svg", alt="Дорожный каток")
                        p.tech-cards__card-text Дорожный каток
                .tech-cards__card._anim-items._anim-no-hide
                    a(href="#")
                        .tech-cards__card-img
                            img(src="@img/tech-8.svg", alt="Контейнеры")
                        p.tech-cards__card-text Контейнеры
            .learn-more
                a(href="alltech.html") СМОТРЕТЬ БОЛЬШЕ
