section.tech.alltech
        .container
            h4.alltech-chapter Техника
                i.fa-solid.fa-arrow-right
                span Автокраны
            .alltech-content
                h3.alltech-content-title Автокраны
                .alltech-content__cards
                    .alltech-content__cards__card
                        .alltech-content__cards__card-img
                            img(src="@img/авто-1.svg", alt="")
                        .alltech-content__cards__card-text
                            h5 Автокран XCMG QY100K
                            p Технические характеристики:
                            .alltech-content__cards__card-info
                                .alltech-content__cards__card-info-left
                                    p Грузоподъемность
                                    p Максимальный вылет стрелы
                                    p Длина
                                    p Длина
                                    p Тип двигателя
                                .alltech-content__cards__card-info-right
                                    p 100 тонн
                                    p 48 м (66,1 м с гуськом)
                                    p 15,23 м
                                    p 3 м
                                    p дизельный

                            .alltech-content__cards__card-bottom
                                p 580 000 сум/час
                                a(href="order.html").rent Арендовать
                    .alltech-content__cards__card
                        .alltech-content__cards__card-img
                            img(src="@img/авто-2.svg", alt="")
                        .alltech-content__cards__card-text
                            h5 Гусеничный кран Zoomlion ZCC
                            p Технические характеристики:
                            .alltech-content__cards__card-info
                                .alltech-content__cards__card-info-left
                                    p Грузоподъемность
                                    p Максимальный вылет стрелы
                                    p Длина
                                    p Длина
                                    p Тип двигателя
                                .alltech-content__cards__card-info-right
                                    p 55 тонн
                                    p 13-52 м (43+15,25 м с гуськом)
                                    p 5850 х 760 х 1100 мм
                                    p 17.5 тн
                                    p дизельный

                            .alltech-content__cards__card-bottom
                                p 380 000 сум/час
                                a(href="#").rent Арендовать
                    .alltech-content__cards__card
                        .alltech-content__cards__card-img
                            img(src="@img/авто-3.svg", alt="")
                        .alltech-content__cards__card-text
                            h5 Автокран Ивановец КС-45717K-1
                            p Технические характеристики:
                            .alltech-content__cards__card-info
                                .alltech-content__cards__card-info-left
                                    p Грузоподъемность
                                    p Максимальный вылет стрелы
                                    p Длина
                                    p Длина
                                    p Тип двигателя
                                .alltech-content__cards__card-info-right
                                    p 25 тонн
                                    p 2,0 - 19,7 м
                                    p 10,0 - 21,3 (28,2) м
                                    p 9 - 21 м
                                    p дизельный

                            .alltech-content__cards__card-bottom
                                p 580 000 сум/час
                                a(href="#").rent Арендовать
                    .alltech-content__cards__card
                        .alltech-content__cards__card-img
                            img(src="@img/авто-4.svg", alt="")
                        .alltech-content__cards__card-text
                            h5 Автокран Ивановец КС-45717K-1
                            p Технические характеристики:
                            .alltech-content__cards__card-info
                                .alltech-content__cards__card-info-left
                                    p Грузоподъемность
                                    p Максимальный вылет стрелы
                                    p Длина
                                    p Длина
                                    p Тип двигателя
                                .alltech-content__cards__card-info-right
                                    p 16 тонн
                                    p 18,4 м
                                    p 10,0 - 21,3 (28,2) м
                                    p 8-18 м
                                    p дизельный

                            .alltech-content__cards__card-bottom
                                p 240 000 сум/час
                                a(href="#").rent Арендовать