section.container.why
    h3._anim-items._anim-no-hide Почему выбирают нас?
    .why-cards._anim-items._anim-no-hide
        .why-cards__card
            img(src="@img/why-1.svg", alt="Рабочий")
            p.why-cards__card-text Только профессиональные водители
        .why-cards__card
            img(src="@img/why-2.svg", alt="Дорога")
            p.why-cards__card-text Доставка на место работы
        .why-cards__card
            img(src="@img/why-3.svg", alt="Эксковатор")
            p.why-cards__card-text Аренда  техники любых размеров