header
    .header.container
        .header-logo
            a(href="index.html")
                img(src="@img/Logo.svg", alt="Logo")
        nav.header-nav
            ul.header-nav__list
                li
                    a.header-nav__link(href="#aboutus") О НАС
                li
                    a.header-nav__link(href="alltech.html") ТЕХНИКА
                li
                    a.header-nav__link(href="#contacts") КОНТАКТЫ
                li
                    a.header-nav__link(href="#revi") ОТЗЫВЫ
                li
                    a.header-nav__link(href="tel:+998946530655")
                        i.fa-solid.fa-phone
                        |+998 94 653 06 55

    .social-block
        a(href="#")
            img(src="@img/whatsapp.svg", alt="whatsapp")
        a(href="#")
            img(src="@img/twitter.svg", alt="twitter")
        a(href="#")
            img(src="@img/instagram.svg", alt="instagram")
        a(href="#")
            img(src="@img/facebook.svg", alt="facebook")
        a(href="#")
            img(src="@img/telegram.svg", alt="telegram")
    .header-content
        .header-content__title.container
            .header-content__title__block
                h1 АРЕНДА СпецТЕХНИКИ
                p.header-content__title__text
                    | Компания
                    span.header-content__title__span  DASARENT
                    |  предоставляет услуги по аренде спецтехники в кротчайшие сроки и за приемлемые цены.

                a(href="checkout.html").btn ЗАКАЗАТЬ ПРЯМО СЕЙЧАС


