doctype html
html(lang="en")
    include html/head.pug
    body
        include html/components/successent.pug
        include html/components/header.header.pug
        include html/components/order-content.pug
        include html/footer.pug
    script(src="js/app.min.js")